@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Cấm Truy Cập";
}

<header class="container-lg justify-content-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <br />
    <p class="text-danger">BẠN KHÔNG CÓ QUYỀN SỬ DỤNG CHỨC NĂNG NÀY.</p>
</header>
